<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LevelUpGamer">

        <!-- Splash -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.LevelUpGamer.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.LevelUpGamer" />

        <!-- Home -->
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.LevelUpGamer" />

        <!-- Registro -->
        <activity
            android:name=".view.RegistroActivity"
            android:exported="false"
            android:theme="@style/Theme.LevelUpGamer" />

        <!-- Catalogo -->
        <activity android:name=".view.CatalogActivity"
            android:exported="false"
            android:theme="@style/Theme.LevelUpGamer" />
        <!-- Carrito -->
        <activity android:name=".view.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.LevelUpGamer" />

    </application>



</manifest>
